# Neon — endpoint POOLED (PgBouncer) pour le runtime Vercel serverless
DATABASE_URL="postgresql://USER:PASSWORD@ep-xxxx-pooler.eu-central-1.aws.neon.tech/neondb?sslmode=require"

# Neon — endpoint DIRECT (non poolé) pour les migrations Prisma
DIRECT_URL="postgresql://USER:PASSWORD@ep-xxxx.eu-central-1.aws.neon.tech/neondb?sslmode=require"
